<div style="text-align:center">
  <h1>
    EPSG 21781
  </h1>
</div>

<ol-map olView
        [zoom]="zoom"
        [center]="center"
        [projection]="projection"
        [olLayers]="layers"></ol-map>

